body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #000;
    text-align: center;
    color: #ddd;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    text-align: right;
    color: #ddd;
}

.greyBox {
    height: 800px;
    width: 1200px;
    background-color: #333;
    color: #ddd;
    position: absolute;
    /*This centers the element both horizontally and vertically*/
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -400px;
    border-style: solid;
    border-width: 8px;
    border-color: #333;
}

.picBox {
    width: 400px;
    height: 1000px;
    background-image: url(assets/Background.jpg);
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 50%;
    margin-top: -500px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
}

.leftPanel {
    width: 20%;
    float: left;
    text-align: left;
}

.rightPanel {
    width: 50%;
    float: right
}