body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #000;
    text-align: left;
    color: #ddd;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    text-align: right;
    color: #ddd;
}

h3 {
    color: cyan;
    letter-spacing: 1px;
}

.greyBox {
    height: 750px;
    width: 1200px;
    background-color: #333;
    color: #ddd;
    position: absolute;
    /*This centers the element both horizontally and vertically*/
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -380px;
    border-style: solid;
    border-width: 8px;
    border-color: #333;
}

.picBox {
    width: 400px;
    height: 840px;
    background-image: url(assets/Background.jpg);
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 50%;
    margin-top: -420px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
}

.leftPanel {
    width: 20%;
    float: left;
    text-align: left;
    color: cyan;
}

.rightPanel {
    position: relative;
    width: 50%;
    float: right;
}

.bottomPicLeft {
    width: 16%;
    position: absolute;
    bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
}

.bottomPicRight {
    width: 16%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
}

.picOfMe {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
    top: 6px;
    left: 6px;
}

.icons {
    font-size: 2.5em;
    text-indent: 6px;
}

a:link,
a:visited {
    text-decoration: none;
    color: cyan;
}

#mylink {
    text-decoration: none;
    color: #aaa;
}

ul.b {
    list-style-type: square;
}

.left-text {
    position: absolute;
    left : 20px;
}

.right-text {
    position: absolute;
    left: 300px;
    top: 0px;
    white-space: nowrap;
}

.white-header {
    color: #ddd;
}
